@{
    ViewData["Title"] = "Delete Movie";
}

@model MovieResponse

<h2>Confirm Delection</h2>
<h3>Are you sure you want to delete the record for @Model.Title?</h3>


@* this form is to confirm the selection of the movie to be deleted, or cancel the selection. Both return back to the movie view list *@
<form  method="post" asp-controller="Home" asp-action="Delete">
    <button type="submit">Delete</button>
    <a asp-controller="Home" asp-action="MovieList" class="btn btn-primary">Cancel</a>

    <input type="hidden" asp-for="MovieId"/>
</form>